{% extends 'base.html.twig' %}

{% block title %}Food{% endblock %}

{% block body %}
    <table class="w-full h-full">
        <tr class="bg-green-200">
            <th class="p-3 text-center">Name</th>
            <th class="p-3 text-center">Price</th>
            <th class="p-3 text-center">Image</th>
            <th class="p-3 text-center">Calories</th>
            <th class="p-3 text-center">Protein</th>
            <th class="p-3 text-center">Fat</th>
        </tr>
        {% for el in food %}
            <tr class="border-2 border-green-200">
                <td class="p-3 text-center"><a href="{{ path('show_food', {'id': el.id}) }}">{{ el.name }}</a></td>
                <td class="p-3 text-center">{{ el.price }}</td>
                <td class="p-3 flex justify-center"><img src="{{ asset('images/food/'~el.image ) }}" style="width: 150px"/></td>
                <td class="p-3 text-center">{{ el.calories }}</td>
                <td class="p-3 text-center">{{ el.protein }}</td>
                <td class="p-3 text-center">{{ el.fat }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
